node_modules
.DS_Store
.vscode
.env

/generated/prisma
Backend/logs/combined.log
Backend/logs/error.log
Backend/dist/
Backend/uploads/*
!Backend/uploads/.gitkeep
frontend/dist/
frontend/.vite/
Backend/.env
frontend/.env
Backend/coverage/
Backend/uploads/
