node_modules
.DS_Store
.vscode
.env

/generated/prisma
Backend1/logs/combined.log
Backend1/dist/
Backend1/uploads/*
!Backend1/uploads/.gitkeep
frontend/dist/
frontend/.vite/
Backend1/.env
frontend/.env